/* HEADER COMPONENT STYLES */
/* ------------------------------------------------------- */

.nav {
  display: flex;
  height: 80px;
  align-items: center;
  justify-content: space-between;
}
.nav-left-side {
  display: flex;
  align-items: center;
}
.nav-logo {
  margin-right: 10px;
}
.list-group-item {
  display: inline-block;
  margin: 0 1px;
  font-weight: 550;
  padding: 5px 15px;
  transition: all 0.3s;
  color: hsl(0, 0%, 60%);
  cursor: pointer;
}
.list-group-item:hover {
  color: hsl(0, 0%, 30%);
}

#hamburger,
#close-icon,
.nav-mobile,
.nav-mobile.deactive {
  display: none;
}

/* BUTTON STYLES */
/* ------------------------------------------------------- */

#button.login {
  background: white;
  color: hsl(0, 0%, 60%);
}
#button.login:hover {
  color: hsl(0, 0%, 40%);
}
#button.register {
  width: 100px;
}

#button {
  padding: 10px;
  width: 120px;
  background: hsl(180, 66%, 49%);
  border-radius: 999px;
  border: none;
  outline: none;
  color: white;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.25s;
}
#button.hover-effective:hover {
  background: rgba(22, 221, 221, 0.65);
}
